
<!DOCTYPE html>

<html>

<head>

<title>

Signup

</title>

<link rel="stylesheet"

href="/static/style.css?v=5">

</head>

<body>

<div class="container">

<div class="card">

<h2>

Create Account

</h2>

<input

id="name"

placeholder="Full Name"

>

<input

id="email"

placeholder="Email"

>

<input

id="password"

type="password"

placeholder="Password"

>

<button

onclick="signup()"

>

Signup

</button>

<p id="message"></p>

<p>

Already have an account?

<a href="/login-page">

Login

</a>

</p>

</div>

</div>

<script src="/static/signup.js?v=1"></script>

</body>

</html>
